#lang {
	position: absolute;
	top: 74px;
	left: 729px;
   color: White;
}

#lang .inp {
	width: 100px;
}

.dvdetails {
	display:none;
	visibility:hidden;
	background-color: White;
}

.dvdspecs {
	border: 1px;
	background-color: White;
}

.dvdspecs td {
	text-align:left;
	border-bottom: 1px #F4F4F4 solid;
	border-right: 1px #F4F4F4 solid;
	color: #3D3D3D;
	text-indent: 3px;	
}


.ulnorm {
	margin: 0;
	padding: 0px;
	list-style: none;
}

.linorm{
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 0px;
	background-image: none;
}

.nof {
	border: 0px;
	background: none;
	margin:0;
}

.forms .nof {
	margin:1px;
	vertical-align:middle;
}

fieldset { margin:4px; }

legend {
  padding: 0.4em 0.5em;
  font-size:90%;
  text-align:right;
}


/* Properties for the Pornstar Entries */
div#tipDiv {
  position:absolute; visibility:hidden; left:0; top:0; z-index:10000;
  background-color:#fff; border:1px solid #000; 
  width:200px; padding:6px;
  color:#000; font-size:11px; line-height:1.3;
}

/* These are used in the wrapTipContent function */
div#tipDiv div.img { text-align:center }
div#tipDiv div.msg { text-align:left; margin-top:4px }



/* Default DVD settings */
#subtitles ul {
  float: left;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
 
#subtitles li {
  float: left;
  width: 119px;
  margin: 0;
  padding: 0;
  cursor:hand;
} 

#audio ul li  {
	cursor:hand;
}

P img {
	vertical-align:middle;
}

#pzone P.outer {
	padding:4px;
}
	
#pzone P.inner {
	border-top:1px dashed #c0c0c0;
	padding-left:10px;
	margin-left:22px;
	padding-bottom:0px;
}