body {
  	margin: 0px 0px 0px 0px;
   	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
}



form {
	padding: 0px;
	margin: 0px;
}
	
a {
	text-decoration: none;
	color:  #333333;
	outline: none;
	}
a:visited {
	color:  #333333;
	}
a:hover {
	color: #333333;
	text-decoration: underline;
	}

strong, b {
	font-weight: bold;
	}


blockquote {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	
}
	
H2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Black;
	padding: 3px 0px 3px 0px;
	margin: 0px 0px 4px 0px;
	text-align: left;
	text-indent: 8px;
	width: 95%;
}

.content {
	font-size: 10px;
}

input, select {
	font-size: 10px;	
}

.information { 
	width:470px;
}

/*
.information {
	font-size: 11px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	color:red;

}
*/
.bad {
	color: red;
}

.conftable {
	border: 1px solid #C3C3C3;
	background-color: #F1F1F1;
}

H2 A:Hover {
	display: block;
}

H2 A  {
	display: block;
	color: Black;
}

.bar {
	height: 25px;
	/*background:#c0c0c0;*/
	background-image: url(../templates/default/images/linethrough_bg.gif);
	color: White;
	border:solid #000000;	
	border-width:1px 0 1px 0;
	text-align:center;
	padding-right: 110px;
	line-height:25px;
}


#menu {
	border: 3px solid #FF6600;
	font-size: 14px;
	font-weight: bolder;
}

#menu td {
	color: #C3C3C3;
}

#menu .active {
	color: #FF6600;
}
