body{margin:0px;background-color:#efefef;background-image:url(images/background3.gif);color:#333333;font-family:verdana,Geneva,Arial,Helvetica,sans-serif;font-size:11px;padding:0px;}
body.nobg{background-image:none;}
a{text-decoration:none;color:#E3A600;}
a:link{color:#E3A600;text-decoration:none;}
a:visited{text-decoration:none;color:#E3A600;}
a:hover{text-decoration:underline;}
#outer{text-align:left;width:830px;margin:0px;}
#hdr{height:70px;background:#eeeeee;background-image:url(images/vcd_headersmall.jpg);color:#333333;margin:0px;padding:0px;}
#toplogo{position:absolute;background-image:url(images/top_logo.gif);height:77px;width:121px;left:15px;top:5px;cursor:pointer;}
#bar{height:25px;background:#E7E7E7;background-image:url(images/linethrough_bg.gif);color:#4D4A47;border-top:1px solid #fff;font-family:verdana,Geneva,Arial,Helvetica,sans-serif;letter-spacing:1px;border-bottom:1px solid #000;text-align:right;padding-right:2px;line-height:25px;}
#bar a{color:#4D4A47;}
#bar a:link{color:#4D4A47;}
#bar a:visited{color:#4D4A47;}
#bar a:hover{color:#333333;text-decoration:none;}
#bodyblock{position:relative;color:#333333;width:830px;padding:0px;background-image:url(images/sidebar_bg.gif);background-repeat:repeat-y;overflow:hidden;background-color:transparent;}
#l-col{float:left;background-color:#E7E7E7;color:#333333;width:147px;text-align:left;}
html>body #l-col{border-right:1px solid #5A5650;}
#r-col{float:right;position:relative;color:#E3A600;width:175px;border:dashed black;border-width:0px 0px 1px 1px;margin-top:2px;}
#cont{padding-left:3px;width:675px;background:#ffffff;color:#333333;border:solid #c0c0c0;border-width:0 0 0 0px;text-align:left;}
#ftr{height:25px;background:#E7E7E7;color:#333333;border:solid #5A5650;border-width:1px 0px 1px 0px;margin:0;clear:both;}
/* Basic elements */
H1{font-size:11px;color:Black;border:1px solid #58534B;border-width:1px 0px 1px 0px;background-image:url(images/topic_bg.gif);background-repeat:repeat-x;padding:2px 0px 2px 0px;margin:0px 0px 4px 0px;text-align:left;text-indent:8px;}
H1 EM,H1 EM a:visited,H1 EM a{font-size:9px;font-family:arial;}
H2{font-size:11px;color:Black;border:1px solid #58534B;border-width:1px 0px 1px 0px;background-color:#E7E7E7;padding:3px 0px 3px 0px;margin:0px 0px 4px 0px;text-align:left;text-indent:8px;}
H5{font-size:11px;color:Black;border:1px solid #5A5650;background-color:#E7E7E7;width:73%;}
h3,p{margin:0;padding:15px;}
h4{margin:0;padding:5px 0;}
/* Forms and buttons */
form{margin:0px;}
.nof{border:0px;background:none;}
.forms{padding:2px 0px 5px 5px;}
input,select,textarea{font-size:11px;border:#dcdcdc 1px ridge;color:WindowText;}
.dashed{font-size:10px;border:#dcdcdc 1px ridge;background-image:url(images/dash.gif);color:black;}
/* Misc Site objects */
#pager{position:absolute;top:4px;left:45%;font-weight:bold;}
.info{font-size:10px;color:#E3A600;}
/* Presentation Stylesheet */
.header{color:#FFFFFF;border:0px solid #fff;background-color:#77726C;background-image:url(images/topic_bg.gif);background-repeat:repeat-x;font-size:10px;font-family:verdana,Geneva,Arial,Helvetica,sans-serif;font-weight:normal;padding:2px;text-align:center;}
.list{text-indent:6px;color:#333333;}
.list a{color:#333333;text-decoration:none;}
.list a:link{color:#333333;text-decoration:none;}
.list a:visited{color:#333333;text-decoration:none;}
.list a:hover{color:#E3A600;text-decoration:underline;}
.list .header{color:#FFFFFF;}
.displist td{border-bottom:1px #F4F4F4 solid;border-right:1px #F4F4F4 solid;line-height:17px;color:#3D3D3D;text-indent:4px;text-indent:5px;padding-bottom:5px;}
.displist .header{color:#FFFFFF;text-align:left;font-weight:bold;}
.displist tr.item td{border-top:1px solid #FFFFFF}
.normal td{padding-left:2px;}
/* Movie listing */
#cast .item{display:block;border-bottom:1px #c0c0c0 solid;padding-left:4px;text-indent:0;}
#cast .item a:hover{background-color:#c0c0c0;text-decoration:none;}
.imgx{margin-top:3px;border-color:#dcdcdc;border-style:ridge;border-width:thin;}
#actorimages{width:100%;margin:0px;text-indent:0px;}
#actorimages .imgx{margin:4px;}
.bold{font-weight:bolder;margin-bottom:5px;}
ul{margin:0;padding:0px 0px 0px 10px;list-style:none;}
.green{line-height:15px;padding-left:15px;padding-top:0px;background-image:url(images/arrow_green.png);background-repeat:no-repeat;background-position:0px 3px;}
.E3A600{line-height:15px;padding-left:15px;padding-top:0px;background-image:url(images/arrow_E3A600.png);background-repeat:no-repeat;background-position:0px 3px;}
li{line-height:18px;padding-left:15px;padding-top:0px;background-image:url(images/bullet.gif);background-repeat:no-repeat;background-position:0px 3px;}
#actorlist{}
/* Others */
.topic{background-image:url(images/topic_bg.gif);background-repeat:repeat-x;line-height:21px;text-align:left;text-indent:8px;font-size:10px;color:white;font-family:Arial,Helvetica,sans-serif;font-weight:bold;}
.poster{text-align:center;width:100px;margin-top:40px;font-style:italic;}
.navx{display:block;}
.nav{background-color:#E3A600;text-align:left;text-indent:8px;color:#2C2822;display:block;clear:none;border-bottom:1px solid #E7E7E7;font-family:verdana,Geneva,Arial,Helvetica,sans-serif;line-height:16px;font-weight:normal;}
.nav A{background-color:#E3A600;text-decoration:none;color:#efefef;font-weight:normal;}
.nav A:visited{background-color:#E3A600;text-decoration:none;color:#efefef;font-weight:normal;}
.nav A:hover{background-color:#E7E7E7;text-decoration:none;color:#58534B;display:block;}
.navon{background-color:#2C2822;text-align:left;text-indent:8px;color:#58534B;display:block;clear:none;border-bottom:1px solid #5A5650;border-top:1px solid #E7E7E7;line-height:18px;}
.navon A{background-color:#E7E7E7;text-decoration:none;color:#58534B;font-weight:bolder;}
.navon A:visited{background-color:#E7E7E7;text-decoration:none;color:#58534B;font-weight:bolder;}
.navon A:hover{background-color:#E7E7E7;text-decoration:none;color:#E3A600;display:block;}
.stata,.statsTable .stata{/*color:#C82100;*/ background-color:#FBF1E6;}
.statb{background-color:white;/*color:#FBF1E6;*/}
.statc{background-color:#979797;}
.statsTable{background-color:#dcdcdc;color:#333333;}
.statsTable td{text-indent:2px;background-color:white;}
.statsTable td a{color:#333333;}
.tblsmall{font-family:verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10px;border-right:1px #c0c0c0 solid;}
.tblsmall td{border-bottom:1px #c0c0c0 solid;}
legend{color:#333333;font-weight:bold;}
ul#toplist{background-image:none;margin:0;padding:0;}
ul#toplist li.tlistheader{background-image:url(images/topic_bg.gif);background-repeat:repeat-x;padding:2px;color:#fff;border-bottom:1px solid #dcdcdc;text-align:center;font-size:11px;background-position:0 !important;}
ul#toplist li.tlist{background-image:none;padding-left:3px;display:block;color:#333333;}
ul#toplist li.tlist a{padding-left:3px;color:#333333;}
