a{color:#E87E10;text-decoration:none;}
a:link{color:#E87E10;text-decoration:none;}
a:visited{color:#E87E10;text-decoration:none;}
a:hover{text-decoration:underline;}
body{background-color:#FFFFFF;background-image:url(images/background3.gif);color:#333333;font-family:Verdana,Arial,Helvetica,sans;font-size:11px;margin:0px;padding:0px;}
body.nobg{background-image:none;}
/* Forms and buttons */
form{margin:0px;}
/* Basic elements */
h1{background-image:url(images/topic_bg.gif);border:1px solid #BDB8D6;color:#000000;font-size:11px;margin:0px 0px 4px 0px;padding:2px 0px 2px 0px;text-align:left;text-indent:8px;}
h1 em,h1 em a:visited,h1 em a{font-family:arial;font-size:9px;}
h2{background-color:#DCDCDC;border:1px solid #BDB8D6;color:#000000;font-size:11px;margin:0px 0px 4px 0px;padding:3px 0px 3px 0px;text-align:left;text-indent:8px;}
h3,p{margin:0;padding:15px;}
h4{margin:0;padding:5px 0;}
h5{background-color:#DCDCDC;border:1px solid #BDB8D6;color:#000000;font-size:11px;width:73%;}
hr{height:1px;}
html>body #l-col{border-right:1px solid #000000;}
input,select,textarea{border:#DCDCDC 1px ridge;color:WindowText;font-size:11px;}
legend{color:#E87E10;}
li{background-image:url(images/arrow.png);background-position:0px 3px;background-repeat:no-repeat;line-height:15px;padding-left:15px;padding-top:0px;}
ul{list-style:none;margin:0;padding:0px 0px 0px 10px;}
ul#toplist{background-image:none;margin:0;padding:0px;}
ul#toplist li.tlist{background-image:none;display:block;padding-left:3px;}
ul#toplist li.tlist a{color:#333333;padding-left:3px;}
ul#toplist li.tlistheader{background-color:#C0C0C0;background-image:url(images/topic_bg.gif);background-repeat:repeat-x;border-bottom:1px solid #DCDCDC;font-size:11px;line-height:16px;padding:2px;text-align:center;}
.bold{font-weight:bolder;}
.dashed{background-image:url(images/dash.gif);border:#DCDCDC 1px ridge;color:#000000;font-size:10px;}
.displist .header{font-weight:bold;text-align:left;}
.displist td{border-bottom:1px #F4F4F4 solid;border-right:1px #F4F4F4 solid;color:#3D3D3D;line-height:17px;text-indent:4px;}
.displist tr.item td{border-top:1px solid #F4F4F4}
.forms{padding:2px 0px 5px 5px;}
.green{background-image:url(images/arrow_green.png);background-position:0px 3px;background-repeat:no-repeat;line-height:15px;padding-left:15px;padding-top:0px;}
/* Presentation Stylesheet */
.header{background-color:#DCDCDC;background-image:url(images/topic_bg.gif);border:dashed #C0C0C0;border-width:1px 0px 1px 0px;padding:2px;text-align:center;}
.imgx{border-color:#DCDCDC;border-style:ridge;border-width:thin;margin-top:3px;}
.info{color:#FF0000;font-size:10px;}
.list{color:#333333;text-indent:6px;}
.list .header{color:#FF0000;}
.list .statheader{background-image:url(images/topic_bg.gif);border:dashed #C0C0C0;border-width:1px 0px 0px 0px;color:#3D3D3D;font-weight:bold;padding:2px;text-align:left;}
.list a{color:#333333;text-decoration:none;}
.list a:link{color:#333333;text-decoration:none;}
.list a:visited{color:#333333;text-decoration:none;}
.list a:hover{color:#FF0000;text-decoration:underline;}
.list td{background-color:#FFFFFF;}
.nav{background-color:#FFFFFF;border-bottom:1px dotted #FFFFFF;clear:none;color:#FFFFFF;display:block;line-height:18px;text-align:left;text-indent:8px;}
.nav a{color:#434343;font-weight:normal;text-decoration:none;}
.nav a:visited{color:#434343;font-weight:normal;text-decoration:none;}
.nav a:hover{color:#E87E10;display:block;font-weight:bold;text-decoration:none;}
.navon{background-image:url(../../../images/mark_seen.gif);background-position:128px -2px;background-repeat:no-repeat;border-bottom:1px dotted #FFFFFF;clear:none;color:#E87E10;display:block;line-height:18px;text-align:left;/*background-color:#FFCC00;*/ text-indent:8px;}
.navon a{color:#E87E10;font-weight:bolder;text-decoration:none;/*background-color:#FFCC00;*/}
.navon a:visited{color:#E87E10;font-weight:bolder;text-decoration:none;/*background-color:#FFCC00;*/}
.navon a:hover{color:#E87E10;display:block;text-decoration:none;/*background-color:#FFCC00;*/}
.navx{background-image:url(images/arrow.png);background-position:10px 3px;background-repeat:no-repeat;display:block;padding-left:15px;}
.normal td{padding-left:2px;}
.poster{font-style:italic;margin-top:40px;text-align:center;width:100px;}
.red{background-image:url(images/arrow_red.png);background-position:0px 3px;background-repeat:no-repeat;line-height:15px;padding-left:15px;padding-top:0px;}
.stata,.statstable .stata{background-color:#CFCFCF;/*color:#C82100;*/}
.statb{background-color:#FFFFFF;/*color:#FBF1E6;*/}
.statc{background-color:#F0C8A0;}
.statstable{background-color:#DCDCDC;color:#333333;}
.statstable td{background-color:#FFFFFF;text-indent:2px;}
.statstable td a{color:#333333;}
.tblsmall{border-right:1px #C0C0C0 solid;font-family:verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10px;}
.tblsmall td{border-bottom:1px #C0C0C0 solid;}
/* Others */
.topic{background-image:url(images/topic_bg.gif);background-repeat:repeat-x;font-weight:bolder;line-height:21px;text-align:center;}
#actorimages{margin:0px;text-indent:0px;width:100%;}
#actorimages .imgx{margin:4px;}
#actorimages span{float:left; width:110px;height:155px;text-align:center;vertical-align:middle;display:table;}
#actorimages span.nothumb{width:96px;height:141px;margin:6px;background-image:url(images/background.gif);}
#actorimages span div{vertical-align:middle;display:table-cell}
#actorlist{}
#bar{background:#C0C0C0;background-image:url(images/linethrough_bg.gif);border:solid #000000;border-width:1px 0 1px 0;color:#FFFFFF;height:25px;line-height:24px;padding-right:2px;text-align:right;}
#bar a{color:#FFFFFF;}
#bar a:link{color:#FFFFFF;}
#bar a:visited{color:#FFFFFF;}
#bar a:hover{border-bottom:1px dashed #FFFFFF;color:#FFFFFF;text-decoration:none;}
#bodyblock{background-color:#FFFFFF;background-image:url(images/sidebar_bg.gif);color:#333333;padding:0px;position:relative;width:830px;}
/* Movie listing */
#cast .item{border-bottom:1px #C0C0C0 solid;display:block;padding-left:4px;text-indent:0;}
#cast .item a:hover{background-color:#C0C0C0;text-decoration:none;}
#cont{background:#FFFFFF;border:solid #C0C0C0;border-width:0 0 0 0px;color:#333333;min-height:455px;text-align:left;width:680px;}
#ftr{background:#434343;border:solid #000000;border-width:1px 0 0 0;clear:both;color:#FFFFFF;height:25px;margin:0;vertical-align:middle;}
#hdr{background:#434343;background-image:url(images/header.png);color:#333333;height:90px;margin:0px;padding:0px;}
#l-col{background:#FFFFFF;color:#333333;float:left;text-align:left;width:147px;}
#l-col hr{margin: 0;}
#outer{background-color:#FFFFFF;border-left:1px solid #333333;border-right:1px solid #333333;left:50%;margin-bottom:0px;margin-left:-415px;margin-right:0px;margin-top:0px;position:absolute;text-align:left;width:830px;}
/* Misc Site objects */
#pager{font-weight:bold;left:45%;position:absolute;top:4px;}
#r-col{border:1px dashed #000000;border-width:0px 0px 1px 1px;color:#FF0000;float:right;margin-top:3px;position:relative;width:175px;}
#similar{text-align:center;}
#toplogo{background-image:url(images/top_logo.png);background-repeat:no-repeat;cursor:hand;height:60px;left:43px;position:absolute;top:15px;visibility:hidden;width:60px;}
